{
  "presets": [
    "@babel/env", "@babel/react"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "~": "./src",
        }
      }
    ],
    "@babel/proposal-object-rest-spread"
  ]
}