{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "~": "./src",
        }
      }
    ],
    "transform-object-rest-spread"
  ]
}