{
  "presets": [
    ["@babel/env", {
      "targets": {
        "node": 6
      },
      "modules": false
    }]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "~": "./src",
        }
      }
    ],
    "@babel/proposal-object-rest-spread"
  ]
}