{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": 6
      },
      "modules": false
    }]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "~": "./src",
        }
      }
    ],
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "node": "current"
          }
        }]
      ]
    }
  },
  "ignore": [
    "_src/util/glpk.js"
  ]
}
